.tasks-item {
  display: grid;
}

.tasks-item h2 {
  font-size: 2.4rem;
  color: var(--cyan-shade);
  margin-bottom: 1.2rem;
}

.tasks-item p {
  font-size: 1.8rem;
  color: var(---grey-cyan);
  font-weight: 500;
  margin-bottom: 0.8rem;
  max-width: 32rem;
  display: inline-block;
  word-wrap: break-word;
}

.tasks-item p:nth-child(3) {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: var(--grey-cyan-shade);
}

.tasks-item div {
  display: flex;
  gap: 1rem;
}

.tasks-item button {
  background-color: var(--cyan-primary);
  font-weight: 600;
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 4px 8px;
  align-self: end;
}

.tasks-item button:nth-child(2) {
  background-color: var(--cyan-tint);
}

.tasks-item form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.tasks-item input,
.tasks-item textarea {
  border: 2px solid var(--cyan-primary);
  font-family: inherit;
  font-size: 1.4rem;
}

.tasks-item input:focus,
.tasks-item textarea:focus {
  outline: none;
}
