@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --cyan-primary: #26c0ab;
  --cyan-tint: #c5e4e7;
  --cyan-shade: #00494d;
  --cyan-tint-lighter: #f4fafa;
  --grey-cyan-shade: #7f9c9f;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  background-color: var(--cyan-tint);
}

button {
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  border: none;
}
