@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --cyan-primary: #26c0ab;
  --cyan-tint: #c5e4e7;
  --cyan-tint-lighter: #f4fafa;
  --cyan-shade: #00494d;
  --cyan-shade-darker: #001617;
  --grey-cyan: #3d5151;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--cyan-primary);
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  background-color: var(--cyan-tint);
}

button {
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  border: none;
  transition: all 0.3s ease-out;
}

button:hover {
  opacity: 75%;
}

input::placeholder,
textarea::placeholder {
  color: rgba(51, 51, 51, 0.26);
}

.app {
  padding: 0 2.4rem;
}
